

.horizontal-menu .top-navbar .navbar-menu-wrapper{
    /*color:green; !important;*/
}
.horizontal-menu .top-navbar .navbar-menu-wrapper{
    /*background-color: #00bb00; !important;*/
}
.horizontal-menu .top-navbar {
    background-color: #f1f1f1; !important;
}