
/********************
Select2 Override style
*********************/


/* Assign min-width to container */
.select2-container{
  min-width:200px;
}
/*Theme Color override*/
.select2-container--default .select2-results__option--highlighted[aria-selected]{
background: #16a085 !important;
}
.select2-container--default .select2-results__option[aria-selected=true]{
  background: #16a085;
  color: #fff;
  opacity: 0.8;
}
.select2-container .select2-choice {
  border: 2px solid #dce4ec;
  height: 36px;
  border-radius: 0px ;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  text-indent: 1px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
}
.select2-container *:focus{
  outline:0px;
}
.select2-container--default .select2-selection--single{
border-radius:0px;
}
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #dce4ec;
  border-radius:0px;
}
.select2-drop {
  margin-top: -2px;
  border: 2px solid #dce4ec;
  border-top: 0;
  border-radius: 0px !important;
  -webkit-border-radius:0 0 6px 6px;
  -moz-border-radius:0 0 6px 6px;
  border-radius:0 0 6px 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-drop.select2-drop-above {
  margin-top: 2px;
  border-top: 2px solid #dce4ec;
  border-bottom: 0;
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-container .select2-choice div {
  border-left: 2px solid #dce4ec;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;

  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.select2-search{
  margin-top: 3px;
}
.select2-search input {
  height: 30px !important;
  border: 2px solid #dce4ec;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-dropdown-open .select2-choice {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;

  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
  filter: none;
}
.select2-results .select2-highlighted {
  background: #16a085;
  color: #fff;
  border-radius: 0px;
}
.select2-results{
  padding: 0 0 0 0px;
  margin: 4px 0px 0px 0;
}
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;

  border: 2px solid #dce4ec;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 2px solid #dce4ec;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.select2-container .select2-choice .select2-arrow{
  border: 0px;
  border-radius: 0px;
  background: transparent;
  background-image: none;
}

/*New Changes*/
.select2-container--default .select2-selection--single{
background: #48c9b0;
border: 0px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
    color: #16a085;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
color: #fff;
line-height:34px;
}
.select2-container .select2-selection--single{
height:34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b
{
    border-color: #fff transparent transparent transparent;
top: 60%;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
border-color: transparent transparent #fff transparent;
}
.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above{
background: #48c9b0;
}
/*Tags Style*/
.select2-container--default .select2-selection--multiple .select2-selection__choice{
background-color: #48c9b0;
  color: #fff;
  border: 1px solid #48c9b0;
  border-radius: 0px;
    padding: 3px 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    color: #16a085;
margin-right: 6px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
margin-left: 6px;
float: right;
}
/*tags Outer border*/
.select2-container--default .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--multiple{
border: 1px solid #16a085;
}
/*Placeholder Text Color */
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #fff;
}